<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <meta name="author" content="Osvaldo Egger Junior">
    <title>Sistema de RH QI</title>
    <script type="text/javascript" src="../../public/scriptsJS/businessRules.js"></script>
    <script type="text/javascript" src="../../public/scriptsJS/dateLimiter.js"></script>
    <script type="text/javascript" src="../../public/scriptsJS/removeE.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</head>
<body onload="dateLimiter();">
  <div>
    <nav id="navbar">
      <ul>
        <li><a href="/">Lista de Funcionários</a></li>
        <li><a href="/create">Novo Funcionário</a></li>
      </ul>
    </nav>
    <div class="container">
      {{{ body }}}
    </div>
</body>

</html>